.square {
    aspect-ratio: 1 / 1;
    background-color: gray;
    border: 1px solid black;
    flex-basis: 6.25%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
